.pytest_cache
.coverage
dist/
build/
.serverless/
thundra.egg-info/
.benchmarks/
.pytest_cache/
.DS_Store
.idea/
env/*
tests/__pycache__/*
tests/plugins/__pycache__/*
tests/plugins/invocation/__pycache__/*
tests/plugins/log/__pycache__/*
tests/plugins/trace/__pycache__/*
thundra/__pycache__/*
thundra/plugins/__pycache__/*
thundra/plugins/invocation/__pycache__/*
thundra/plugins/log/__pycache__/*
thundra/plugins/metric/__pycache__/*
thundra/plugins/trace/__pycache__/*
.vscode
python/