[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opentracing = "*"
requests = "*"
wrapt = "*"
simplejson = "*"
enum-compat = "*"
jsonpickle = "*"
websocket-client = "*"

[dev-packages]
mock = "*"
pytest = "*"
"boto3" = "*"
redis = "*"
"aws_xray_sdk" = "*"
pymongo = "*"
mysql-connector = "*"
elasticsearch = "*"
sqlalchemy = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.6.4"
