[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opentracing = "*"
requests = "*"
wrapt = "*"

[dev-packages]
mock = "*"
pytest = "*"
"boto3" = "*"
redis = "*"
"aws_xray_sdk" = "*"
psycopg2 = "*"
mysql-connector = "*"
elasticsearch = "*"

[requires]
python_version = "3.7.2"
