[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opentracing = "*"
requests = "*"
wrapt = "*"

[dev-packages]
mock = "*"
pytest = "*"
psycopg2-binary = "*"
mysql-connector = "*"

[requires]
python_version = "3.6.4"
