name: Thundra CI Check

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Collect Workflow Telemetry
        uses: thundra-io/workflow-telemetry-action@feature/proc-tracer
      - uses: actions/checkout@v2
      - name: Use Python 3.6.13
        uses: actions/setup-python@v2
        with:
          python-version: "3.6.13"
      - name: Start Docker Images
        run: docker-compose up -d --quiet-pull --no-recreate
      - name: Install pipenv
        run: |
          pip install pipenv
          pipenv --python 3.6.13
      - name: Install dependencies
        run: pipenv install --dev
      - name: Run Tests
        run: pipenv run pytest --junitxml=test-reports/pytest/junit.xml tests
